<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <logger name="ru.beeline" additivity="false">
        <level value="TRACE"/>
        <appender-ref ref="Console"/>
    </logger>
    <root>
        <appender-ref ref="Console"/>
        <level value="INFO"/>
    </root>
</configuration>